.page {
	background-color: var(--bc);
	background-image: var(--background-img);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.link {
	text-decoration: none;
	text-shadow: 1px 1px 0 var(--bc-text);
}

/* header */

header {
	position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  min-width: 100vw;
  padding: 10px;
}

.header__theme-menu-button {
	background-color: transparent;
	border: none;
	font-family: IBM Plex Mono;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: lowercase;
	width: 70px;
	height: 26px;
}

.decorated-zone::before, .decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  bottom: 10px;
  left: 10px;
}

.decorated-zone::before {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  right: 10px;
  top: 10px;
}

.header__theme-menu-button_active {
	pointer-events: none;
	outline: 2px solid var(--border);
}

.header__theme-menu-button:active {
	border: 1px solid var(--border);
}

.rec {
	position: absolute;
	top: 10px;
	right: 38px;
	color: #FF0070;
	display: inline-block;
	font-family: IBM Plex Mono;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 25px;
	letter-spacing: 0%;
	text-align: center;
}

.rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
  right: -19px;
  top: 8px;
	box-shadow: 0px 0px 4px 2px #FF0070;
	background-color: #FF0070;
}

.header__theme-menu-list {
	display: flex;
	justify-content: center;
	height: 100%;
	gap: 13px;
	color: var(--border);
}

.header__theme-menu-list {
	list-style: none;
	margin-top: 20px;
}

.header-title {
	color: var(--header-text);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 157px;
	leading-trim: NONE;
	line-height: 83%;
	letter-spacing: 0%;
	text-shadow: 4px 4px 0px #FF0070;
	margin-top: 273px;
	margin-bottom: 114px;
}

.header-section-text {
	min-width: 355px;
	max-width: 491px;
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
	color: var(--title);
	background-color: var(--bc-text);
	float: right;
	margin-right: 20px;
	margin-bottom: 134px;
}

/* main */
/* section-distractions */

.section-distractions {
	margin-top: 400px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	grid-template-areas:
		"title content-1"
		". content-2";
}

.section-distractions h4 {
	color: var(--section-title);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
}

.content_distractions-1 {
	grid-area: content-1;
}

.content_distractions-2 {
	grid-area: content-2;
}

.section-distractions .title {
	grid-area: title;
}

.content_distractions {
	max-width: 648.92px;
	min-width: 355px;
}

.content_distractions h5 {
	color: var(--title);
	background-color: var(--bc-text);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
}

.content_distractions p {
	color: var(--paragraph-color);
	font-family: IBM Plex Mono;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* section-focus */

.section-focus {
	margin-top: 80px;
}

.section-focus h4 {
	color: var(--section-title);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
	margin-bottom: 20px;
}

.section-focus h5 {
	color: var(--title);
	background-color: var(--bc-text);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
}

.section-focus p {
	color: var(--paragraph-color);
	font-family: IBM Plex Mono;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
	margin-top: 10px;
}

.section-focus .cards-focus {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.section-focus .card-focus-1 {
	width: 100%;
}

.section-focus .card-focus-2 {
	width: 100%;
}

.section-focus .card-focus-3 {
	width: 100%;
}

/* section-mindfulness */

.section-mindfulness {
	margin-top: 80px;
}

.section-mindfulness h4 {
	color: var(--section-title);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
}

.cards-mindfulness-title {
	color: var(--title);
	background-color: var(--bc-text);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
	min-height: 20px;
	max-height: 40px;
}

.cards-mindfulness h4 {
	color: var(--title);
	background-color: var(--bc-text);
	font-family: IBM Plex Mono;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
}

.cards-mindfulness p {
	color: var(--paragraph-color);
	font-family: IBM Plex Mono;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
	margin-top: 10px;
}

.section-mindfulness {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(6, min-content);
	grid-template-areas:
	'section-mindfulness-title cards-mindfulness-title'
	'. card-mindfulness-1'
	'. card-mindfulness-2'
	'. card-mindfulness-3'
	'. card-mindfulness-4'
	'. card-mindfulness-5';
}

.section-mindfulness-title {
	grid-area: section-mindfulness-title;
}
.cards-mindfulness-title {
	grid-area: cards-mindfulness-title;
}
.card-mindfulness-1 {
	grid-area: card-mindfulness-1;
}
.card-mindfulness-2 {
	grid-area: card-mindfulness-2;
}
.card-mindfulness-3 {
	grid-area: card-mindfulness-3;
}
.card-mindfulness-4 {
	grid-area: card-mindfulness-4;
}
.card-mindfulness-5 {
	grid-area: card-mindfulness-5;
}

/* section-img */

.section-img h5 {
	background-color: var(--bc-text);
	color: var(--title);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 23.4px;
	letter-spacing: 0%;
	margin-top: 80px;
	margin-bottom: 20px;
}

.cards-img {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

img {
	width: 100%;
	height: 100%;
}

.card_img-1 {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 3;
}

.card_img-2 {
 grid-row-start: 1;
 grid-row-end: 3;
}

.card_img-3 {
	grid-row-start: 2;
	grid-row-end: 4;
}

.card_img-5 {
	grid-row-start: 3;
	grid-column-start: 2;
	grid-column-end: 4;
}

/* footer */

footer {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
	max-height: 768px;
	min-height: 668px;
}

footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
	align-self: flex-end;
	left: 0;
	margin: 0 0 10px 10px;
}

footer::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
	right: 0;
	margin: 10px 10px 0 0;
}

footer h2 {
	color: var(--header-text);
	font-family: IBM Plex Mono;
	font-weight: 700;
	font-style: Bold;
	font-size: 157px;
	leading-trim: NONE;
	line-height: 83%;
	letter-spacing: 0%;
	text-shadow: 4px 4px 0px #FF0070;
	margin-top: 273px;
	margin-bottom: 114px;
	text-align: center;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: var(--paragraph-color);
}

button:hover {
	border: 1px solid var(--border);
}

a:focus-visible {
	border: 1px solid var(--border);
}

button:focus-visible {
	border-bottom: 1px solid var(--border);
}

@media (width <= 768px) {
	body {
		width: 386px;
	}
	.header {
    padding: 20px;
		width: 100vmin;
  }
	.cards-focus {
		justify-content: flex-start;
		flex-direction: column;
	}
	.header__theme-menu-list {
		margin-top: 150px;
    align-items: flex-end;
		flex-direction: column;
    unicode-bidi: isolate;
    gap: 10px;
	}
	.header-title {
		margin-top: 0;
	}
	.section-distractions {
		margin-top: 0;
	}
}

@media (width <= 375px) {
	.header__theme-menu-list {
    align-items: end;
		flex-direction: column;
    unicode-bidi: isolate;
    gap: 10px;
	}
	.header-text {
		width: 100%;
	}
	.header-title {
		font-size: 7.5rem;
	}
	.section-distractions, .section-mindfulness, .cards-focus {
		display: flex;
		flex-direction: column;
	}
	footer h2 {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	}
	.decorated-zone::after {
		bottom: -200px;
	}
	.header-text {
		margin: auto;
	}
}